body{
    background:  rgb(250, 246, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*{

    font-family: sans-serif;
    box-sizing: border-box ;
}
form{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background:white;
    border-radius: 15px;
}
h2{
text-align: center;
margin-bottom: 40px;
}
input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
label{
   color: #888;
   font-size: 18px;
   padding: 10px; 
}

button{
    float: right;
    background: rgb(31, 32, 32);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    margin-top: 25px;
}
button:hover{
    opacity: .7;
    
   
}
 .error{
    background: rgb(234, 161, 14);
    color: rgb(165, 49, 28); 
    padding: 20px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }